<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div>
      <img src="https://img.icons8.com/clouds/100/000000/lock.png">
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" id="login" class="fadeIn second" name="login" placeholder="Email">
      <input type="password" id="password" class="fadeIn third" name="login" placeholder="Password">
      <div class="mt-2 mb-2">
      <input type="submit" class="btn bg-blue-en4all text-light" value="Log In">
      </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <div class="clearfix">
        <a class="underlineHover text-blue-en4all float-left" href="#">Forgot Password?</a>
        <a class="underlineHover text-blue-en4all float-right" href="/signup">Sign Up</a>
      </div>
    </div>

  </div>
</div>
