<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.0.0/jquery.min.js"></script>

<!-- jQuery Modal -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-modal/0.9.1/jquery.modal.min.css" />
<div id="ng-app" ng-app="diffDemo" layout="column" flex ng-controller="diffCtrl">
  <div class="container">
    <div class="page-header">
      <h1 class="h3">Progress Stepper</h1>
      <h2 class="h5">Features: bootstrap tabs, disabled states, tooltips and directional functionality.</h2>
    </div>
    <div class="panel panel-default">
      <!--form-content-->
      <form id="form-id">
        <!--Progressbar-->
        <% k = 0 %>
        <!-- Progress bar sentence -->
        <!-- <ul class='progress' style="height: 1.3rem;"> -->
        <!--   <li class="active"></li> -->
        <!--   <% (2..@count.to_i). each do |sentence| %> -->
        <!--   <li><% sentence %></li> -->
        <!--   <% end %> -->
        <!-- </ul> -->
        
        <!--Account Setup-->
        <div id="ng-app" ng-app="diffDemo" layout="column" flex ng-controller="diffCtrl">
          <% WriteFrDic.all.sample(@count.to_i).each do |sens| %>

          <fieldset>
            <h2 class='title'>Sentence <%= k = k + 1 %> / <%= @count %> </h2>
            <h3 class='sub-title'>
              <div class="timer">
	              <span class="minutes">This audio will auto play after </span><span class="seconds">03</span><span>s</span>
              </div>
            </h3>
            <div class="page-header">
              <%= audio_tag "#{sens.audio}", controls: true, id:"timer-beep", class: "timer-beep" %>
            </div>
            <div class="md-form" data-ng-init="anyFunction()">
              <!-- gfdkgkdgdkgddf -->
              <!-- Modal -->
              
              <textarea layout-fill id="sens-content" class="md-textarea form-control" ng-model="left"></textarea>
              <p><%= sens.content %></p>
            </div>
            <% if (k == @count.to_i) %>
            
            <button type="button" class="custom-button" id="myBtn" onclick="$('#myModal').modal('')">Check</button>
            <input type='button' name='next' ng-click="clear()" class='submit-button custom-button' value="Submit">
            <% else %>
            <button type="button" class="custom-button" id="myBtn" onclick="$('#myModal').modal('show')" >Check</button>
            <input type='button' name='next' ng-click="clear()" class='next-button custom-button' value="Next">
            <% end %>
          </fieldset>
          <% end %>
      </form>
      <!-- end form -->
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog" role="document">
    
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-body" style="padding:40px 50px;">
        <form role="form">
          <div class="form-group">
            
          </div>                        
        </form>
      </div>
      <div class="modal-footer">
        
        <button type="submit" class="btn btn-danger pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></button>
      </div>
    </div>
  </div>
</div>

<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-animate.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/angularjs/1.7.2/angular-aria.js'></script>
<script src='http://ajax.googleapis.com/ajax/libs/angular_material/1.1.10/angular-material.min.js'></script>
<script src='http://rawgit.com/google/diff-match-patch/master/javascript/diff_match_patch.js'></script>
<script src='http://rawgit.com/amweiss/angular-diff-match-patch/v0.7.0/angular-diff-match-patch.js'></script>


<script>
  var app = angular.module('diffDemo', ['ngMaterial', 'diff-match-patch']);
  app.config(function($mdThemingProvider) {
    $mdThemingProvider.theme('default')
      .primaryPalette('indigo')
      .accentPalette('blue');
  });
  
  app.controller('diffCtrl', ['$scope', function($scope) {
    
    $scope.anyFunction = function(){
      
      $scope.left = "";
      $scope.right = "";
      
      $scope.options = {
        editCost: 4,
        interLineDiff: true,
        ignoreTrailingNewLines: true,
        attrs: {
          insert: {
            'data-attr': 'insert',
            'class': 'insertion'
          },
          delete: {
            'data-attr': 'delete'
          },
          equal: {
            'data-attr': 'equal'
          }
        }
      };
    };

    $scope.products = [];

    $scope.clear = function() {
      $scope.addMe = document.getElementById('sens-content').value;
      $scope.products.push($scope.addMe);
      $scope.left = "";
    };
    
  }]);
</script>
