<div class="container">
  <!-- Icon -->
  <div class="text-center">
    <h3>EN4ALL</h3>
  </div>

  <!-- Message Error -->
  <div class="row text-left">
      <ul class="offset-4">
        <li class="text-danger">Message 01</li>
        <li class="text-danger">Message 02</li>
        <li class="text-danger">Message 03</li>
        <li class="text-danger">Message 04</li>
        <li class="text-danger">Message 05</li>
      </ul>
  </div>

  <!-- Login Form -->
  <form>
    <div class="row mb-2">
      <div class="col-4">
        <label class="text-right">Email: <span class="text-danger">*</span</label>
      </div>
      <input type="text" id="login" class="fadeIn second col-4" name="login" placeholder="">
    </div>

    <div class="row mb-2">
      <div class="col-4">
        <label class="text-right">Password: <span class="text-danger">*</span</label>
      </div>
      <input type="password" id="password" class="fadeIn third col-4" name="login" placeholder="">
    </div>

    <div class="row mb-2">
      <div class="col-4">
        <label class="text-right">Password Confirm: <span class="text-danger">*</spanc</label>
      </div>
      <input type="password" id="password" class="fadeIn third col-4" name="login" placeholder="">
    </div>

    <div class="mt-2 mb-2 text-center">
      <input type="submit" class="btn bg-blue-en4all text-light" value="Sign Up">
    </div>
  </form>
</div>
