<div class="container">
  <!-- Icon -->
  <div class="text-center">
    <h3>EN4ALL</h3>
  </div>

  <!-- Message Error -->

  <!-- Login Form -->
  <form>
    <div class="row mb-2">
      <div class="col-4">
        <label class="text-right">Email: <span class="text-danger">*</span</label>
      </div>
      <input type="text" id="login" class="fadeIn second col-4" name="login" placeholder="">
    </div>

    <div class="row mb-2">
      <div class="col-4">
        <label class="text-right">Password: <span class="text-danger">*</span</label>
      </div>
      <input type="password" id="password" class="fadeIn third col-4" name="login" placeholder="">
    </div>

    <div class="row mb-2">
      <div class="col-4">
        <label class="text-right">Password Confirm: <span class="text-danger">*</spanc</label>
      </div>
      <input type="password" id="password" class="fadeIn third col-4" name="login" placeholder="">
    </div>

    <div class="mt-2 mb-2 text-center">
      <input type="submit" class="btn bg-blue-en4all text-light" value="Sign Up">
    </div>
  </form>
</div>
