<nav class="navbar navbar-inverse navbar-fixed-top" style="background-color: white;border-color: white;">
  <ul class="hList" style="list-style: none;">
    <li>
      <a href="#click" class="menu">
        <h2 class="menu-title">speaking</h2>
        <ul class="menu-dropdown">
          <li>Read Aloud</li>
          <li>Repeat Sentence</li>
          <li>Describe Image</li>
          <li>Retell Lecture</li>
          <li>Answer Short Questions</li>
        </ul>
      </a>
    </li>
    <li>
      <a href="#click" class="menu">
        <h2 class="menu-title menu-title_2nd">Writing</h2>
        <ul class="menu-dropdown">
          <li>Summarize Written Text</li>
          <li>Essay</li>
        </ul>
      </a>
    </li>
    <li>
      <a href="#click" class="menu">
        <h2 class="menu-title menu-title_3rd">Reading</h2>
        <ul class="menu-dropdown">
          <li>Reading & Writing Fill in the blanks</li>
          <li>Multiple Choice, Multiple Answer</li>
          <li>Re-order Paragraph</li>
          <li>Fill in the blanks (Drap & Drop)</li>
          <li>Multiple Choice, Single Answer</li>
        </ul>
      </a>
    </li>
    <li>
      <a href="#click" class="menu">
        <h2 class="menu-title menu-title_4th">listening</h2>
        <ul class="menu-dropdown">
          <li>Summarize Spoken Text</li>
          <li>Multiple Choice, Multiple Answer</li>
          <li>Fill in the blanks</li>
          <li>Highlight Correct Summary</li>
          <li>Multiple Choice, Single Answer</li>
          <li>Select Missing Word</li>
          <li>Highlight Incorrect Words</li>
          <li>Write from Dictation</li>
        </ul>
      </a>
    </li>
    <li>
      <a href="#click" class="menu">
        <h2 class="menu-title">test</h2>
        <ul class="menu-dropdown">
          <li>Practise Test</li>
        </ul>
      </a>
    </li>
    <li>
      <a href="#click" class="menu">
        <h2 class="menu-title menu-title_2nd">study</h2>
        <ul class="menu-dropdown">
          <li>Dictation</li>
        </ul>
      </a>
    </li>
    <li>
        <% if current_user %>
            <a href="<%= home_course_path %>" class="menu">
                <h2 class="menu-title menu-title_7th">course</h2>
                <ul class="menu-dropdown">
                    <li>Schedule</li>
                </ul>
            </a>            
        <% else %>
            <a href="<%= login_path %>" class="menu">
                <h2 class="menu-title menu-title_7th">course</h2>
                <ul class="menu-dropdown">
                    <li>Schedule</li>
                </ul>
            </a>
        <% end %>
    </li>
  </ul>  
</nav> 
