<h1>IpaEnglish#index</h1>
<p>Find me in app/views/ipa_english/index.html.erb</p>
<p><%= to_ipa("hello is smart 1898 1000 0.0")%></p>
<p><%= to_exactly_type("hello is smart 1898 1000 0.0")%></p>
<p><%= to_exactly_type("hello is smart 1")%></p>

<p><%= @ipa %></p>
