<script src='//code.responsivevoice.org/responsivevoice.js'></script>
<%= render 'home/header' %>
<div class="row justify-content-center">
    <div class="col-lg-10">
        <div class="bg-white shadow p-2">
            <h6 class="font-weight-bold mb-4">choice one of word practice then click microphone icon to speak</h6>
            <div class="border p-4">
                <div class="row">
                    <div class="col-sm-3 col-12 text-center">
                        <h1 style="line-height: 2em; font-size: 6em; color: red;">/eɪ/</h1>
                    </div>
                    <div class="col-sm-9 col-12">
                        <div class="row">
                            <div class="col">
                                <%=image_tag("ipa/ei.gif", width: "300px")%>
                            </div>
                            <div class="col-12 col-md pt-3 pt-md-0">
                                <p>How to pronunciation</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="border p-4 mt-2">
                <div class="text-center border p-2 d-flex">
                    <p class="text-blue-en4all pl-2 pr-2" style="top: -25px; position: relative; background-color: white; font-size: 1.2em">Word practice</p>
                    <div class="pt-3 wordList" style="position: relative; left: -70px; display: flex; overflow-x: auto">
                        <h3 class="pr-3 wordItem" id="work_say" onClick="showInfoWork(this)">SAY</h3>
                        <h3 class="pr-3 wordItem" id="work_eight" onClick="showInfoWork(this)">EIGHT</h3>
                    </div>
                </div>
                <div class="pt-3 text-center font-italic text-success" id="word-example">
                    
                </div>
                <div class="pt-4" id="infor_Result">
                    <div class="row">
                        <div class="col-md-3 col-12 text-center border pt-3">
                            <%=image_tag("microphone.png", width: "70px", :onClick => "speakWord()".html_safe)%>
                        </div>
                        <div class="col-sm-6 col-md-3 com-12 d-flex border pt-3">
                            <p class="text-blue-en4all pr-4">Word:</p>
                            <h2 id="word" class="pt-4" onClick="reviewSpeak(this.id)"></h2>
                        </div>
                        <div class="col-sm-6 col-md-3 col-12 d-flex border pt-3">
                            <p class="text-blue-en4all pr-4">Say: </p>
                            <h2 class="text-success pt-4" id="erea_Say"></h2>
                        </div>
                        <div class="col-md-3 col-12 d-flex border pt-3">
                            <div class="row">
                                <div class="col">
                                    <p class="text-blue-en4all pr-4">Result: </p>
                                </div>
                                <div class="col">
                                    <canvas id="result" class="d-none"></canvas>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<style>
    .chartjs-render-monitor{
        width: 200px !important;
        height: 100px !important;
    }
</style>
<script>
    
</script>