// Place all the styles related to the Course controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@media (max-width: 600px) {
    .col-course-action{
        width: 100px;
    }
    
    .col-course-skill {
        width: 200px;
    }
    
    .col-course-quality {
        width: 85px;
    }
    
    .col-course-status {
        width: 85px;
    }
    
    .col-course-day {
        width: 50px;
    }
    
    .home-course {
        width: 600px;
    }
}

.row-course:hover {
    background-color: #efefef;
    cursor: pointer;
}

.row-course-header {
    background-color: #0ba742;
}

.main-course {
    overflow: auto;
}