// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(https://fonts.googleapis.com/css?family=Roboto:400,700);

html {
    height: 100%;
    background-color: #f8f8f8;
}

body {
    overflow: hidden;
    margin: 0 auto;
    background-color: #ffffff;
    font-family: 'Roboto', sans-serif;
    color: #555555;
}

a {
    text-decoration: none;
    color: inherit;
}

// * {
//   box-sizing: border-box;
// }

$menu_WIDTH: 120px;

.menu {
    display: block;
    position: relative;
    cursor: pointer;
}

.menu-title {
    display: block;
    width: $menu_WIDTH;
    height: 50px;
    padding: 15px 0 0;
    margin: 0;
    text-align: center;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    transition: 0.3s background-color;
    font-family: initial;
    font-size: 16px;
}

.menu-title:hover { 
  background-color:  #012744 !important;
}

.menu-title:hover:before { border-top-color: #8db842; }

.menu:hover > .menu-title:before {
    border-top-width: 0;
    transition:
        0.2s border-top-width ease-in,
        0.3s border-top-color;
}

.menu:hover > .menu-title:after {
    border-bottom-width: 5px;
    transition: 0.2s 0.2s border-bottom-width ease-out;
}

.menu-title_2nd { background: #4e96b3; }
.menu-title_2nd:hover { background: #3e86a3; }
.menu-title_2nd:before { border-top-color: #4e96b3; }
.menu-title_2nd:hover:before { border-top-color: #3e86a3; }

.menu-title_3rd { background: #c97676; }
.menu-title_3rd:hover { background: #b96666; }
.menu-title_3rd:before { border-top-color: #c97676; }
.menu-title_3rd:hover:before { border-top-color: #b96666; }

.menu-title_4th { background: #dbab58; }
.menu-title_4th:hover { background: #cb9b48; }
.menu-title_4th:before { border-top-color: #dbab58; }
.menu-title_4th:hover:before { border-top-color: #cb9b48; }

.menu-title_5th { background: #4e96b3; }
.menu-title_5th:hover { background: #3e86a3; }
.menu-title_2th:before { border-top-color: #4e96b3; }
.menu-title_5th:hover:before { border-top-color: #3e86a3; }

.menu-title_6th { background: #c97676; }
.menu-title_6th:hover { background: #b96666; }
.menu-title_6th:before { border-top-color: #c97676; }
.menu-title_6th:hover:before { border-top-color: #b96666; }

.menu-title_7th { background: #c9adc6; }
.menu-title_7th:hover { background: #c9adc6; }
.menu-title_7th:before { border-top-color: #c9adc6; }
.menu-title_7th:hover:before { border-top-color: #c9adc6; }

.menu-dropdown {
    min-width: 100%;
    padding: 0;
    position: absolute;
    z-index: 100;
    background-color: #003359 !important;
    transition:
        0.5s padding,
        0.5s background;
}

.menu-dropdown:after {
    content: "";
    display: block;
    height: 0;
    border-left: ($menu_WIDTH / 2) solid transparent;
    border-right: ($menu_WIDTH / 2) solid transparent;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 101;
    transition: 0.5s border-top;
}

.menu:not(:hover) > .menu-dropdown {
    padding: 0 0;
    z-index: 99;
}

.menu:not(:hover) > .menu-dropdown:after {
    border-top-color: #dddddd;
}

.menu:not(:hover) > .menu-title:after {
    border-bottom-color: #dddddd;
}

.menu-dropdown > * {
    overflow: hidden;
    height: 40px;
    padding: 10px 10px;
    background: rgba(0,0,0,0);
    color: white;
    white-space: nowrap;
    transition: 
        0.5s height cubic-bezier(.73,.32,.34,1.5),
        0.5s padding cubic-bezier(.73,.32,.34,1.5),
        0.5s margin cubic-bezier(.73,.32,.34,1.5),
        0.5s 0.2s color,
        0.2s background-color;
}

.menu-dropdown > *:hover {
    background: rgba(0,0,0,0.1);
    color: black;
}

.menu:not(:hover) > .menu-dropdown > * {
    visibility: hidden;
    height: 0;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
    // color: rgba(25,25,25,0);
    color: black;
    transition: 
        0.5s 0.1s height,
        0.5s 0.1s padding,
        0.5s 0.1s margin,
        0.3s color,
        0.6s visibility;
    z-index: 99;
}

.hList > * {
    float: left;
}

.hList > * + * {
    margin-left: 0;
}


// CSS for Course page
.hList1 {
    margin: 7% 0 1% 0;
}

//CSS for animation

body{background: #f0f0f0;}
svg{
    display: block;
    width: 40%;
    margin: auto;
    
}
#coder{
    animation: dash 10s linear forwards;
    stroke-dasharray: 5000;
    stroke-dashoffset: 5000;
}
@keyframes dash {
    to {
        stroke-dashoffset: 10;
    }
}
#colors{
    opacity: 0;
    animation: colorIn 5s 8s ease-out forwards;
}
@keyframes colorIn {
    from {opacity:0;}
    to {opacity: 1;}
}
@media only screen and (max-width: 600px) {
    svg {
        width: 100%;
    }
}

// LOGIN PAGE

// a {
//   color: #92badd;
//   display:inline-block;
//   text-decoration: none;
//   font-weight: 400;
// }

// h2 {
//   text-align: center;
//   font-size: 16px;
//   font-weight: 600;
//   text-transform: uppercase;
//   display:inline-block;
//   margin: 40px 8px 10px 8px; 
//   color: #cccccc;
// }



/* STRUCTURE */

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column; 
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  -webkit-border-radius: 10px 10px 10px 10px;
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  position: relative;
  padding: 0px;
  -webkit-box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.3);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  -webkit-border-radius: 0 0 10px 10px;
  border-radius: 0 0 10px 10px;
}



/* TABS */

// h2.inactive {
//   color: #cccccc;
// }

// h2.active {
//   color: #0d0d0d;
//   border-bottom: 2px solid #5fbae9;
// }



/* FORM TYPOGRAPHY*/

// input[type=button], input[type=submit], input[type=reset]  {
//   background-color: #56baed;
//   border: none;
//   color: white;
//   padding: 15px 80px;
//   text-align: center;
//   text-decoration: none;
//   display: inline-block;
//   text-transform: uppercase;
//   font-size: 13px;
//   -webkit-box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
//   box-shadow: 0 10px 30px 0 rgba(95,186,233,0.4);
//   -webkit-border-radius: 5px 5px 5px 5px;
//   border-radius: 5px 5px 5px 5px;
//   margin: 5px 20px 40px 20px;
//   -webkit-transition: all 0.3s ease-in-out;
//   -moz-transition: all 0.3s ease-in-out;
//   -ms-transition: all 0.3s ease-in-out;
//   -o-transition: all 0.3s ease-in-out;
//   transition: all 0.3s ease-in-out;
// }

// input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
//   background-color: #39ace7;
// }

// input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
//   -moz-transform: scale(0.95);
//   -webkit-transform: scale(0.95);
//   -o-transform: scale(0.95);
//   -ms-transform: scale(0.95);
//   transform: scale(0.95);
// }

input[type=text],
input[type=password] {
  background-color: #f6f6f6;
  border: none;
  color: #0d0d0d;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 5px;
  width: 85%;
  border: 2px solid #f6f6f6;
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -ms-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  -webkit-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

input[type=text]:focus,
input[type=password] :focus {
  background-color: #fff;
  border-bottom: 2px solid #003359;
}

input[type=text]:placeholder,
input[type=password] :placeholder {
  color: #cccccc;
}



/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -100%, 0);
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@-webkit-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  -webkit-animation:fadeIn ease-in 1;
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fadeIn.first {
  -webkit-animation-delay: 0.4s;
  -moz-animation-delay: 0.4s;
  animation-delay: 0.4s;
}

.fadeIn.second {
  -webkit-animation-delay: 0.6s;
  -moz-animation-delay: 0.6s;
  animation-delay: 0.6s;
}

.fadeIn.third {
  -webkit-animation-delay: 0.8s;
  -moz-animation-delay: 0.8s;
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  -webkit-animation-delay: 1s;
  -moz-animation-delay: 1s;
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #003359;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
  background-color: unset;
}

.underlineHover:hover:after{
  width: 100%;
}



/* OTHERS */

*:focus {
    outline: none;
} 

#icon {
  width:60%;
}

.avatar-dropdown:hover{
  cursor: pointer;
}
