// Place all the styles related to the Read_Alouds controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.read-alouds {
    margin-bottom: 100px;
}

.action-bottom {
    background-color: #e8e8e8;
    position: fixed;
    width: 100%;
    padding: 10px;
    bottom: 0;
}

.record-tool {
    text-align: center;
    .status{
        //background-color: #52738b;
        display: inline-block;
        padding: 30px;
    }
}

.result-read {
    background-color: #fdfdfd;
    
}

/*

*/
ol.progtrckr {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

    ol.progtrckr li {
        display: inline-block;
        text-align: center;
        line-height: 3rem;
        cursor: pointer;
    }

        ol.progtrckr li span {
            padding: 0 0rem;
        }

@media (max-width: 650px) {
    .progtrckr li span {
        display: none;
    }
}

.progtrckr em {
    display: none;
    font-weight: 700;
    padding-left: 1rem;
}

@media (max-width: 650px) {
    .progtrckr em {
        display: inline;
    }
}

ol.progtrckr li.progtrckr-todo {
    color: silver;
    border-bottom: 2px solid silver;
}

ol.progtrckr li.progtrckr-doing {
    color: black;
    border-bottom: 2px solid #CCCCCC;
}

ol.progtrckr li.progtrckr-done {
    color: black;
    border-bottom: 2px solid #5cb85c;
}

ol.progtrckr li.progtrckr-failed {
    color: black;
    border-bottom: 2px solid #5cb85c;
}

ol.progtrckr li:after {
    content: "\00a0\00a0";
}

ol.progtrckr li:before {
    position: relative;
    bottom: -2.3rem;
    float: left;
    left: 30%;
}

ol.progtrckr li.progtrckr-todo:before {
    content: "\039F";
    color: silver;
    background-color: white;
    width: 1.2em;
    line-height: 1.8em;
}

ol.progtrckr li.progtrckr-todo:hover:before {
    color: #ff4500;
}

ol.progtrckr li.progtrckr-doing:before {
    content: "\2022";
    color: white;
    background-color: #CCCCCC;
    width: 1.8em;
    line-height: 1.8em;
    border-radius: 1.8em;
}

ol.progtrckr li.progtrckr-doing:hover:before {
    color: #ff4500;
}

ol.progtrckr li.progtrckr-done:before {
    //content: "\2713";
    content: "90";
    color: white;
    background-color: #5cb85c;
    width: 1.8em;
    line-height: 1.8em;
    border-radius: 1.8em;
}

ol.progtrckr li.progtrckr-failed:before {
    //content: "\2717";
    content: "50";
    color: white;
    background-color: red;
    width: 1.8em;
    line-height: 1.8em;
    border-radius: 1.8em;
}

ol.progtrckr li.progtrckr-done:hover:before {
    color: #333;
}

ol.progtrckr li.progtrckr-failed:hover:before {
    color: #333;
}