<div class='notifications'>
  <div class='notification notice'  style='display: none;'>
    <div class='icon bg'></div>
    <!-- <a class='close delete-parent' href='#'></a> -->
    <div class='content'>
      <div class='message'>Your result updated successful.</div>
    </div>
  </div>
  <div class='notification success' style='display: none;'>
    <div class='icon bg'></div>
    <div class='content'>
      <div class='message'>Your result has shared.</div>
    </div>
  </div>
  <div class='notification warning' style='display: none;'>
    <div class='icon warning bg'></div>
    <!-- <a class='close delete-parent' href='#'></a> -->
    <div class='content'>
      <div class='message'>You need get the accuracy is larger than 60% to share result.</div>
    </div>
  </div>
  <div class='notification alert' style='display: none;'>
    <div class='icon alert bg' style="margin-top: -12px; margin-left: -1.2%"></div>
    <!-- <a class='close delete-parent' href='#'></a> -->
    <div class='content alert-color'>
      <div class='message'>Occured errors. Please try it again later.</div>
    </div>
  </div>
</div>
