<%= render 'home/header' %>

<div class="container bg-white p-2">
  <nav aria-label="breadcrumb">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a href="#">Home</a></li>
      <li class="breadcrumb-item"><a href="#">Speaking</a></li>
      <li class="breadcrumb-item active" aria-current="page">Read alouds</li>
    </ol>
  </nav>
  <h6 class="font-weight-bold font-italic">Look at the text below. In 40 seconds, you must read this text aloud as naturally and clearly as possible. You have 40 seconds to read aloud.</h6>
  <div class="record-tool">
    <div class="status rounded shadow">
      <h6 class="font-weight-bold text-danger">STATUS</h6>
      <p class="font-italic text-danger" id="time-prepaire">Begining in <span id="timePrepaire"> 00:40</span> seconds</p>
      <p class="font-italic text-danger d-none" id="time-progess">Stop in <span id="timeProgess"> 00:40</span> seconds</p>
      <p class="font-italic text-danger d-none" id="time-out">Time out</p>
    </div>
  </div>
  <div style="width: 80%; margin: auto">
    <div class="data-source">
      <p class="text-justify m-4">
        5G networks that transform entertainment, communication and transportation may still be years away. But in manufacturing, the technology is already making a difference.
      </p>
    </div>
    <div class="result-read shadow rounded">
      <p class="text-justify p-4">
      </p>
    </div>
  </div>
  
</div>
<div class="action-bottom">
  <div class="float-right">
    <button class="edit btn bg-blue-en4all text-light mr-2" id="btnAgain" disabled onclick="reload()">AGAIN</button>
    <button class="edit btn bg-blue-en4all text-light" id="btnNext" disabled>NEXT</button>
  </div>
</div>

<script>
function startTimer(duration, display) {
  var timer = duration, minutes, seconds;
  var stopRecord = false;
  setInterval(function () {
      minutes = parseInt(timer / 60, 10)
      seconds = parseInt(timer % 60, 10);

      minutes = minutes < 10 ? "0" + minutes : minutes;
      seconds = seconds < 10 ? "0" + seconds : seconds;

      display.textContent = minutes + ":" + seconds;

      if (--timer < 0) {
          timer = duration;
          
          display = document.querySelector('#timeProgess');

          $("#time-prepaire").css("display", "none");
          $("#time-progess").css("cssText", "display: block !important");

          if(stopRecord) {
            $("#time-prepaire").css("cssText", "display: none !important");
            $("#time-progess").css("cssText", "display: none !important");

            $("#btnAgain").removeAttr("disabled");
            $("#btnNext").removeAttr("disabled");
          }

          stopRecord = true;
      }
  }, 1000);
}

function reload() {
  var fiveMinutes = 40,
      display = document.querySelector('#timePrepaire');
  startTimer(fiveMinutes, display);
}

window.onload = function () {
  var height = $(".data-source").height();
  $(".result-read").css("min-height", height);
  var fiveMinutes = 40,
      display = document.querySelector('#timePrepaire');
  startTimer(fiveMinutes, display);
};
</script>