<%= render 'home/header' %>
<%= render 'test' %>
<div class="read-alouds container bg-white shadow p-2">
  <h6 class="font-weight-bold mb-4">Look at the text below. In 40 seconds, you must read this text aloud as naturally and clearly as possible. You have 40 seconds to read aloud.</h6>
  <div class="record-tool mb-4">
    <div class="status">
      <h5 class="text-info" id="time-prepaire">Begining in <span id="timePrepaire"> 00:00</span> seconds</h5>
      <h5 class="text-danger d-none" id="time-progess">Stop in <span id="timeProgess"> 00:00</span> seconds</h5>
      <h5 class="text-danger d-none" id="time-out">Time out</h5>
    </div>
  </div>
  <div style="width: 80%; margin: auto">
    <div class="row mb-4 origin-audio d-none">
      <div class="col-sm-2 text-right font-weight-bold">
        Origin audio:
      </div>
      <div class="col-sm">
        <div class="result-read rounded">
          <div class="row">
            <div class="col-sm-2 text-center">
              <div style="display: grid; width: max-content">
                <span class="your-record-audio-origin-play fa fa-play-circle-o fa-4x"></span>
                <span class="your-record-audio-origin-pause fa fa-pause-circle-o fa-4x d-none"></span>
                <span id="timeOrigin">00:00/00:00</span>
              </div>
            </div>
            <div class="col-sm-10">
              <div id="waveformorigin"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    
    <div class="row mb-4 paragraph">
      <div class="col-sm-2 text-right font-weight-bold">
        
      </div>
      <div class="data-source p-2 col-sm">
        <p class="text-justify">
          5G networks that transform entertainment, communication and transportation may still be years away. But in manufacturing, the technology is already making a difference.
        </p>
      </div>
    </div>

    <div class="row mb-4 record-audio d-none">
      <div class="col-sm-2 text-right font-weight-bold">
        Your record audio:
      </div>
      <div class="col-sm">
        <div class="result-read rounded">
          <div class="row">
            <div class="col-sm-2 text-center">
              <div style="display: grid; width: max-content">
                <span class="your-record-audio-play fa fa-play-circle-o fa-4x"></span>
                <span class="your-record-audio-pause fa fa-pause-circle-o fa-4x d-none"></span>
                <span id="timeRecord">00:00/00:00</span>
              </div>
            </div>
            <div class="col-sm-10">
              <div id="waveform"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="action-bottom">
  <div class="float-right">
    <button class="edit btn bg-blue-en4all text-light mr-2" id="btnStart" onclick="start_Record()">START</button>
    <button class="edit btn bg-blue-en4all text-light mr-2 d-none" id="btnStop" onclick="stop_Record()">STOP</button>
    <button class="edit btn bg-blue-en4all text-light mr-2 d-none" id="btnAgain" onclick="reload_Record()">AGAIN</button>
    <button class="edit btn bg-blue-en4all text-light d-none" id="btnNext" onclick="next_Record()">NEXT</button>
  </div>
</div>

<script src="https://unpkg.com/wavesurfer.js"></script>
<script>

  function toHHMMSS(seconds) {
    var sec_num = parseInt(seconds, 10); // don't forget the second param
    var hours   = Math.floor(sec_num / 3600);
    var minutes = Math.floor((sec_num - (hours * 3600)) / 60);
    var seconds = sec_num - (hours * 3600) - (minutes * 60);

    if (hours   < 10) {hours   = "0"+hours;}
    if (minutes < 10) {minutes = "0"+minutes;}
    if (seconds < 10) {seconds = "0"+seconds;}
    //return hours + ':' + minutes + ':' + seconds;
    return minutes + ':' + seconds;
  }

  var wavesurferorigin;
  var wavesurfer;
  
  wavesurferorigin = WaveSurfer.create({
      container: '#waveformorigin',
      waveColor: 'gray',
      progressColor: '#003359',
      height: 50
  });
  

  $(".your-record-audio-origin-play").on('click', function(){
    $(".your-record-audio-origin-play").addClass("d-none");
    $(".your-record-audio-origin-pause").removeClass("d-none");
    var durationTimeOrigin = wavesurferorigin.getDuration();

    setInterval(function () {
      var currentTimeOrigin = wavesurferorigin.getCurrentTime();

      document.querySelector('#timeOrigin').textContent = toHHMMSS(currentTimeOrigin) + "/" + toHHMMSS(durationTimeOrigin);

      if (currentTimeOrigin == durationTimeOrigin){
        $(".your-record-audio-origin-pause").addClass("d-none");
        $(".your-record-audio-origin-play").removeClass("d-none");
      }
    }, durationTimeOrigin);
    

    wavesurferorigin.playPause();
  });

  $(".your-record-audio-origin-pause").on('click', function(){
    $(".your-record-audio-origin-pause").addClass("d-none");
    $(".your-record-audio-origin-play").removeClass("d-none");

    var durationTimeOrigin = wavesurferorigin.getDuration();

    setInterval(function () {
      var currentTimeOrigin = wavesurferorigin.getCurrentTime();

      document.querySelector('#timeOrigin').textContent = toHHMMSS(currentTimeOrigin) + "/" + toHHMMSS(durationTimeOrigin);
    }, durationTimeOrigin);

    wavesurferorigin.playPause();
  });

  wavesurfer = WaveSurfer.create({
      container: '#waveform',
      waveColor: 'gray',
      progressColor: '#003359',
      height: 50
  });
  

  $(".your-record-audio-play").on('click', function(){
    $(".your-record-audio-play").addClass("d-none");
    $(".your-record-audio-pause").removeClass("d-none");
    
    var durationTime = wavesurfer.getDuration();

    setInterval(function () {
      var currentTime = wavesurfer.getCurrentTime();

      document.querySelector('#timeRecord').textContent = toHHMMSS(currentTime) + "/" + toHHMMSS(durationTime);
      
      if (currentTime == durationTime){
        $(".your-record-audio-pause").addClass("d-none");
        $(".your-record-audio-play").removeClass("d-none");
      }
    }, durationTime);

    wavesurfer.playPause();
  });

  $(".your-record-audio-pause").on('click', function(){
    $(".your-record-audio-pause").addClass("d-none");
    $(".your-record-audio-play").removeClass("d-none");

    var durationTime = wavesurfer.getDuration();

    setInterval(function () {
      var currentTime = wavesurfer.getCurrentTime();

      document.querySelector('#timeRecord').textContent = toHHMMSS(currentTime) + "/" + toHHMMSS(durationTime);
    }, durationTime);

    wavesurfer.playPause();
  });

  var timePre;
  var timePost;
  var pre;
  var post;

  function startTimerPre() {
    var timer = timePre, minutes, seconds;
    pre = setInterval(function () {
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        document.querySelector('#timePrepaire').textContent = minutes + ":" + seconds;

        if (--timer < 0) {
          $("#time-prepaire").addClass("d-none");
          $("#time-progess").removeClass("d-none");
          

          $('#btnStart').addClass("d-none");
          $('#btnStop').removeClass("d-none");
          clearInterval(pre);

          startTimerPost();
        }
    }, 1000);
  }

  function startTimerPost() {
    var timer = timePost, minutes, seconds;
    post = setInterval(function () {
        minutes = parseInt(timer / 60, 10)
        seconds = parseInt(timer % 60, 10);

        minutes = minutes < 10 ? "0" + minutes : minutes;
        seconds = seconds < 10 ? "0" + seconds : seconds;

        document.querySelector('#timeProgess').textContent = minutes + ":" + seconds;

        if (--timer < 0) {
          $("#time-prepaire").addClass("d-none");
          $("#time-progess").addClass("d-none");
          $('#time-out').removeClass("d-none");

          $('#btnStop').addClass("d-none");
          $('#btnAgain').removeClass("d-none");
          $('#btnNext').removeClass("d-none");

          $('.origin-audio').removeClass("d-none");
          $('.record-audio').removeClass("d-none");

          wavesurferorigin.load('/assets/2018collection_55-3d39adaf2350f3b47b0021add3cdc52b0e946a5382dcf66ea06f71c868f1e8a0.mp3');
          wavesurfer.load('/assets/2018collection_55-3d39adaf2350f3b47b0021add3cdc52b0e946a5382dcf66ea06f71c868f1e8a0.mp3');

          clearInterval(post);
        }
        else {}
    }, 1000);
  }

  function start_Record(){
    document.querySelector('#timePrepaire').textContent = "00:" + timePre;
    document.querySelector('#timeProgess').textContent = "00:" + timePost;

    $('#btnStart').addClass("d-none");
    $('#btnStop').removeClass("d-none");

    $('#time-prepaire').addClass("d-none");
    $('#time-progess').removeClass("d-none");
    $('#time-out').addClass("d-none");

    clearInterval(pre);
    clearInterval(post);
    startTimerPost();
  }

  function stop_Record(){
    document.querySelector('#timePrepaire').textContent = "00:" + timePre;
    document.querySelector('#timeProgess').textContent = "00:" + timePost;

    $('#btnStop').addClass("d-none");

    $('#btnAgain').removeClass("d-none");
    $('#btnNext').removeClass("d-none");

    $('#time-prepaire').addClass("d-none");
    $('#time-progess').addClass("d-none");
    $('#time-out').removeClass("d-none");

    $('.origin-audio').removeClass("d-none");
    $('.record-audio').removeClass("d-none");

    wavesurferorigin.load('/assets/2018collection_55-3d39adaf2350f3b47b0021add3cdc52b0e946a5382dcf66ea06f71c868f1e8a0.mp3');
    wavesurfer.load('/assets/2018collection_55-3d39adaf2350f3b47b0021add3cdc52b0e946a5382dcf66ea06f71c868f1e8a0.mp3');

    clearInterval(pre);
    clearInterval(post);
  }

  function reload_Record() {
    document.querySelector('#timePrepaire').textContent = "00:" + timePre;
    document.querySelector('#timeProgess').textContent = "00:" + timePost;

    $('#btnAgain').addClass("d-none");
    $('#btnNext').addClass("d-none");
    $('#btnStart').removeClass("d-none");
    
    $('#time-prepaire').removeClass("d-none");
    $('#time-progess').addClass("d-none");
    $('#time-out').addClass("d-none");

    $('.origin-audio').addClass("d-none");
    $('.record-audio').addClass("d-none");

    clearInterval(pre);
    clearInterval(post);
    startTimerPre();
  }

  function next_Record() {
    clearInterval(pre);
    clearInterval(post);
    
    timePre = 40;
    timePost = 40;

    document.querySelector('#timePrepaire').textContent = "00:" + timePre;
    document.querySelector('#timeProgess').textContent = "00:" + timePost;
    
    startTimerPre();
  }

  $(document).ready(function() {
    clearInterval(pre);
    clearInterval(post);
    
    timePre = 40;
    timePost = 40;

    document.querySelector('#timePrepaire').textContent = "00:" + timePre;
    document.querySelector('#timeProgess').textContent = "00:" + timePost;
    
    startTimerPre();
  });
</script>
